$webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")

<html>
    <head>
        <title>Mail to Blog Configuration</title>
        <meta name="decorator" content="atl.admin" />
        <script type="text/javascript">
            function updateSpacesOptions(tr) {
                var spaceSelect = tr.find('select.spaceRules\\.space');
                var operatorSelect = tr.find("select.spaceRules\\.operator");
                var matchgroupOptions = spaceSelect.find('.spaceRules\\.space\\.matchgroups');

                if (operatorSelect.val() == 'regexp') {
                    if (matchgroupOptions.length == 0) {
                        spaceSelect.prepend('<optgroup label="Regexp" class="spaceRules.space.matchgroups"><option value="_group_0">Capturing Group 0</option><option value="_group_1">Capturing Group 1</option></optgroup>');
                        spaceSelect.trigger('change');
                    }
                } else {
                    if (matchgroupOptions.length != 0) {
                        matchgroupOptions.remove();
                        spaceSelect.trigger('change');
                    }
                }
            }

            /**
             * Add a rule to the rules table.
             */
            function addRule() {
                var tr = AJS.$("<tr>");

                var buttons = AJS.$("<td>");

                buttons.append(AJS.$("<button>", {
                    class: "aui-button aui-button-subtle spaceRules.delete",
                    html: '<span class="aui-icon aui-icon-small aui-iconfont-delete"></span>',
                    title: "remove",
                    type: "button",
                    style: "float:left"
                }));

                buttons.append(AJS.$("<button>", {
                    class: "aui-button aui-button-subtle spaceRules.moveUp",
                    html: '<span class="aui-icon aui-icon-small aui-iconfont-arrows-up"></span>',
                    title: "move up",
                    type: "button",
                    style: "float:left"
                }))

                buttons.append(AJS.$("<button>", {
                    class: "aui-button aui-button-subtle spaceRules.moveDown",
                    html: '<span class="aui-icon aui-icon-small aui-iconfont-arrows-down"></span>',
                    title: "move down",
                    type: "button",
                    style: "float:left"
                }))

                tr.append(buttons);

                tr.append(AJS.$('<td>', {width:"18%"}).html(AJS.$("<select>", {
                    class: "spaceRules.field",
                    name: "spaceRuleFields",
                    html: '<option value="from">From</option><option value="to">TO</option><option value="cc">CC</option><option value="subject">Subject</option><option value="to/cc">TO or CC</option>'
                })));

                tr.append(AJS.$('<td>', {width:"18%"}).html(AJS.$("<select>", {
                    class: "spaceRules.operator",
                    name: "spaceRuleOperators",
                    html: '<option value="is">is equal to</option><option value="contains">contains</option><option value="start">starts with</option><option value="end">ends with</option><option value="regexp">matches regexp</option>'
                })));

                tr.append(AJS.$('<td>', {width:"18%"}).html(AJS.$("<input>", {
                    class: "text spaceRules.value",
                    name: "spaceRuleValues"
                })));

                tr.append(AJS.$("<td>").html('<select class="spaceRules.action" name="spaceRuleActions"><option value="move">move to</option><option value="copy">copy to</option></select>'));

                var spaceOptions = '';
                spaceOptions += '<optgroup label="Spaces">';
                #foreach($space in $spaces.entrySet())
                    spaceOptions += '<option value="${space.key}">${space.value}</option>';
                #end
                spaceOptions += '</optgroup>';

                tr.append(AJS.$("<td>").html(AJS.$("<select>", {
                    class: "spaceRules.space",
                    name: "spaceRuleSpaces",
                    html: spaceOptions
                })));

                AJS.$("#spaceRules tbody").append(tr);

                tr.find(".spaceRules\\.field").auiSelect2();
                tr.find(".spaceRules\\.operator").auiSelect2();
                tr.find(".spaceRules\\.space").auiSelect2();
                tr.find(".spaceRules\\.action").auiSelect2();
                updateSpacesOptions(tr);
            }

            /**
             * Select port depending on prtocol (IMAP or POP3) and ssl setting.
             */
            function selectPort() {
                var secureField = AJS.$('#mailConfiguration\\.secure');
                var protocolField =  AJS.$('#mailConfiguration\\.protocol');
                var portField = AJS.$('#mailConfiguration\\.port');


                // ssl, protocol => port.
                var map = {
                    true : {
                        'imap' : '993',
                        'pop3' : '995'
                    },
                    false : {
                        'imap' : '143',
                        'pop3' : '110'
                    }
                }

                var checked = secureField.is(':checked');
                var protocol = protocolField.val();

                if (
                    typeof(checked) == "boolean"
                    && map[checked][protocol] != undefined
                ) {
                    portField.val(map[checked][protocol]);
                } else {
                    portField.val('0');
                }
            }

            AJS.$(document).ready(function() {

                AJS.$("#mailConfiguration\\.defaultSpace").auiSelect2();
                AJS.$("#mailConfiguration\\.securityGroup").auiSelect2();
                AJS.$(".spaceRules\\.field").auiSelect2();
                AJS.$(".spaceRules\\.operator").auiSelect2();
                AJS.$(".spaceRules\\.space").auiSelect2();
                AJS.$(".spaceRules\\.action").auiSelect2();

                // Init space options.
                AJS.$("#spaceRules tr").each(function() {
                    updateSpacesOptions(AJS.$(this));
                })

                AJS.$("#spaceRules").on('click', ".spaceRules\\.delete", function () {
                    AJS.$(this).closest('tr').remove();
                });

                AJS.$("#spaceRules").on('click', ".spaceRules\\.moveUp", function () {
                    var row = jQuery(this).closest('tr');
                    row.insertBefore(row.prev());
                });

                AJS.$("#spaceRules").on('click', ".spaceRules\\.moveDown", function () {
                    var row = jQuery(this).closest('tr');
                    row.insertAfter(row.next());
                });

                AJS.$("#spaceRules").on('change', "select.spaceRules\\.operator", function() {
                    var tr = AJS.$(this).closest('tr');
                    updateSpacesOptions(tr);
                });

                AJS.$('#editmailconfiguration_form').submit(function(e) {
                    var pop3WarningConfirmed = AJS.$('#editmailconfiguration_form').attr('data-pop3-warning-confirmed');
                    var doNotShowPop3Confirmuation = AJS.$('#mailConfiguration\\.doNotShowPop3Confirmation').val();
                    var protocol = AJS.$('#mailConfiguration\\.protocol').val();
                    var email = AJS.$('#mailConfiguration\\.emailaddress').val();

                    if (pop3WarningConfirmed != "true" && doNotShowPop3Confirmuation != "true" && protocol == 'pop3' && email != "") {
                        e.preventDefault()

                        // Prepare warning dialog
                        AJS.$('#pop3_warning_dialog_confirmation_text').val("");
                        AJS.$('#pop3_warning_dialog_confirm').disable();
                        AJS.$('#pop3_warning_dialog_email').html("with email address <strong>" + email + "</strong>");

                        // Show warning dialog
                        AJS.dialog2("#pop3_warning_dialog").show();
                    }
                });

                AJS.$('#pop3_warning_dialog_cancel').click(function(e) {
                    AJS.dialog2("#pop3_warning_dialog").hide();
                });

                AJS.$('#pop3_warning_dialog_confirm').click(function(e) {
                    var email = AJS.$('#mailConfiguration\\.emailaddress').val();
                    if (AJS.$('#pop3_warning_dialog_confirmation_text').val() == email) {
                        if (AJS.$('#pop3_warning_dialog_doNotShowPop3Confirmation').is(':checked')) {
                            AJS.$('#mailConfiguration\\.doNotShowPop3Confirmation').val("true");
                        } else {
                            AJS.$('#mailConfiguration\\.doNotShowPop3Confirmation').val("false");
                        }
                        AJS.$('#editmailconfiguration_form').attr('data-pop3-warning-confirmed', "true");
                        AJS.$('#editmailconfiguration_form').attr('data-pop3-warning-confirmed', "true");
                        AJS.dialog2("#pop3_warning_dialog").hide();

                        AJS.$('#editmailconfiguration_form').submit();
                    }
                });

                AJS.$("#pop3_warning_dialog_confirmation_text").on("propertychange change click keyup input paste blur", function(){
                    var email = AJS.$('#mailConfiguration\\.emailaddress').val();
                    if (AJS.$(this).val() == email) {
                        AJS.$('#pop3_warning_dialog_confirm').enable();
                    } else {
                        AJS.$('#pop3_warning_dialog_confirm').disable();
                    }
                })

                AJS.$("#spaceRules\\.add").click(function() {
                    addRule();
                });
            });
        </script>
    </head>
    <body>
        <section id="pop3_warning_dialog" class="aui-dialog2 aui-dialog2-medium aui-dialog2-warning aui-layer" role="dialog" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main">Are you ABSOLUTELY sure?</h2>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>
            <div class="aui-dialog2-content">
                <p>You're using POP3: <strong>ALL</strong> your email will be <strong>DELETED</strong> from your INBOX <span id="pop3_warning_dialog_email"></span> after processing.
                You should use a dedicated mailbox for this plugin. <strong>Do not use your private or work account.</strong></p>
                <p>Please type in the email address of your mailbox to confirm.</p>
                <form class="aui" style="margin-top:0" onsubmit="return false;">
                    <input type="text" class="text" id="pop3_warning_dialog_confirmation_text" style="max-width: 100%; width:100%">
                    <div class="checkbox">
                        <input
                            class="checkbox"
                            id="pop3_warning_dialog_doNotShowPop3Confirmation"
                            type="checkbox"
                            value="true"
                            #if (${mailConfiguration.doNotShowPop3Confirmation}) checked="checked" #end"
                        >
                        <label for="pop3_warning_dialog_doNotShowPop3Confirmation">Do not show this warning again</label>
                    </div>
                </form>
            </div>
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button type="button" disabled="true" id="pop3_warning_dialog_confirm" class="aui-button aui-button-primary">I understand that my INBOX will be wiped clean, proceed</button>
                    <button type="button" id="pop3_warning_dialog_cancel" class="aui-button aui-button-link">Cancel</button>
                </div>
            </footer>
        </section>

        #if ($actionErrors)
            <div style="margin-bottom: 10px;">
                #parse( "/template/includes/actionerrors.vm" )
            </div>
        #end

        #if ($actionMessages)
            <div style="margin-bottom: 10px;">
                #parse( "/template/includes/actionmessages.vm" )
            </div>
        #end

        <div class="help-panel" style="margin-bottom: 10px;">
            <div class="help-panel-header">
                <strong>
                    <span class="aui-icon aui-icon-small aui-iconfont-info confluence-information-macro-icon"></span>
                    Help
                </strong>
            </div>
            <div class="help-panel-content">
                <p>
                    Useful links:
                    <ul style="margin-top:0">
                        <li><a href="https://marketplace.atlassian.com/plugins/de.dm.mail2blog.mail2blog/server/overview">Atlassian Marketplace</a></li>
                        <li><a href="https://github.com/dm-drogeriemarkt/Mail2Blog">Documentation</a></li>
                        <li><a href="https://github.com/dm-drogeriemarkt/Mail2Blog/issues">Report an Issue</a></li>
                        <li><a href="https://github.com/dm-drogeriemarkt/Mail2Blog">Source Code</a></li>
                    </ul>
                </p>
                <p>
                    If you like this add-on please star it on GitHub and leave a review on the Marketplace:
                    <ul style="margin-top:0">
                        <li><a class="github-button" href="https://github.com/dm-drogeriemarkt/Mail2Blog" aria-label="Star dm-drogeriemarkt/Mail2Blog on GitHub">Star</a></li>
                        <li><a href="https://marketplace.atlassian.com/plugins/de.dm.mail2blog.mail2blog/server/reviews">Write a review</a></li>
                    </ul>
                </p>
            </div>
        </div>

        <form class="aui" id="editmailconfiguration_form" data-pop3-warning-confirmed="false" name="editmailconfiguration_form" method="POST" action="doConfiguration.action">
            <input id="mailConfiguration.doNotShowPop3Confirmation" name="checkboxTracker.doNotShowPop3Confirmation" type="hidden" value="${mailConfiguration.doNotShowPop3Confirmation}">

            <p><strong>
                <span class="aui-icon aui-icon-small aui-iconfont-error confluence-information-macro-icon"></span>
                WARNING: When using POP3 all messages in your INBOX get deleted after processing, because POP3 doesn't support folders.<br>
            </strong></p>
            <p>
                <span class="aui-icon aui-icon-small aui-iconfont-info confluence-information-macro-icon"></span>
                INFO: When using IMAP all messages in your INBOX will be moved to INBOX/Processed and INBOX/Invalid after processing.
            </p>
            <p>
                <span class="aui-icon aui-icon-small aui-iconfont-info confluence-information-macro-icon"></span>
                INFO: It&apos;s recommanded that you use a special dedicated mailbox for Mail2Blog
            </p>

            <p><strong>
                <span class="aui-icon aui-icon-small aui-iconfont-error confluence-information-macro-icon"></span>
                WARNING: If you disable SSL, you're username, password and messages will be readable to an attacker.
            </strong></p>
            <div style="margin: 10px 0 0 0;">
                <fieldset>
                    <div class="field-group">
                        <label for="mailConfiguration.server">Server<span class="aui-icon icon-required"> required</span></label>
                        <input class="text" type="text" id="mailConfiguration.server" name="mailConfiguration.server" value="${mailConfiguration.server}" placeholder="mail.domain">
                        #foreach ($error in $fieldErrors.get("mailConfiguration.server")) <div class="error">$error</div> #end
                    </div>
                </fieldset>
                <fieldset class="group">
                    <div class="field-group">
                        <label for="mailConfiguration.protocol">Protocol</label>
                        <select class="select" id="mailConfiguration.protocol" name="mailConfiguration.protocol" onchange="selectPort()">
                            #foreach($p in ["IMAP", "POP3"])
                                <option value="${p.toLowerCase()}" #if($mailConfiguration.protocol == $p.toLowerCase()) selected="selected" #end>${p}</option>
                            #end
                        </select>
                        #foreach ($error in $fieldErrors.get("mailConfiguration.protocol")) <div class="error">$error</div> #end
                    </div>
                </fieldset>
                <fieldset class="group">
                    <legend><span>Use SSL</span></legend>
                    <div class="checkbox">
                        <input type="checkbox" class="checkbox" name="checkboxTracker.secure" id="mailConfiguration.secure" value="true" #if ($mailConfiguration.secure) checked="checked" #end onclick="selectPort()"/>
                        <label for="mailConfiguration.secure">Enabled</label>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="field-group">
                        <label for="mailConfiguration.port">Port <span class="aui-icon icon-required">required</span></label>
                        <input class="text" type="number" id="mailConfiguration.port" name="mailConfiguration.port" value="${mailConfiguration.port}" min="0" max="65535">
                        #foreach ($error in $fieldErrors.get("mailConfiguration.port")) <div class="error">$error</div> #end
                    </div>
                </fieldset>
                <fieldset>
                    <div class="field-group">
                        <label for="mailConfiguration.emailaddress">Email Address <span class="aui-icon icon-required">required</span></label>
                        <input class="text" type="email" id="mailConfiguration.emailaddress" name="mailConfiguration.emailaddress" value="${mailConfiguration.emailaddress}" placeholder="user@domain">
                        #foreach ($error in $fieldErrors.get("mailConfiguration.emailaddress")) <div class="error">$error</div> #end
                    </div>
                </fieldset>
                <fieldset>
                    <div class="field-group">
                        <label for="mailConfiguration.username">User name <span class="aui-icon icon-required">required</span></label>
                        <input class="text" type="text" id="mailConfiguration.username" name="mailConfiguration.username" value="${mailConfiguration.username}" placeholder="user@domain">
                        #foreach ($error in $fieldErrors.get("mailConfiguration.username")) <div class="error">$error</div> #end
                    </div>
                </fieldset>
                <fieldset>
                    <div class="field-group">
                        <label for="mailConfiguration.password">Password</label>
                        <input class="password" type="password" id="mailConfiguration.password" name="mailConfiguration.password" value="${mailConfiguration.password}">
                    </div>
                </fieldset>
            </div>

            <div style="margin: 10px 0 0 0;">
                <fieldset>
                    <div class="field-group">
                        <label for="mailConfiguration.defaultSpace">Default Space <span class="aui-icon icon-required">required</span></label>

                        <select id="mailConfiguration.defaultSpace" name="mailConfiguration.defaultSpace">
                            #foreach($space in $spaces.entrySet())
                                <option
                                    value="${space.key}"
                                    #if($space.key == $mailConfiguration.defaultSpace)
                                        selected="selected"
                                    #end
                                >
                                    ${space.value}
                                </option>
                            #end
                        </select>

                        <div class="description">
                            #if ($spaces.isEmpty())
                                <strong>
                                    <span class="aui-icon aui-icon-small aui-iconfont-error confluence-information-macro-icon"></span>
                                    Please create a
                                    <a href="https://confluence.atlassian.com/doc/spaces-139459.html" class="external-link" rel="nofollow">
                                        Space
                                    </a> and reload this page
                                </strong>
                            #else
                                Default
                                <a href="https://confluence.atlassian.com/doc/spaces-139459.html" class="external-link" rel="nofollow">
                                    Space
                                </a>
                                into which to post
                            #end
                        </div>

                        #foreach ($error in $fieldErrors.get("mailConfiguration.defaultSpace")) <div class="error">$error</div> #end

                    </div>
                </fieldset>
            </div>

            <h2>Advanced Configuration</h2>

            <div style="margin: 10px 0 0 0;">
                <div class="aui-tabs horizontal-tabs">
                    <ul class="tabs-menu">
                        <li class="menu-item active-tab">
                            <a href="#tabs-spaces">Spaces</a>
                        </li>
                        <li class="menu-item">
                            <a href="#tabs-format">Formatting</a>
                        </li>
                        <li class="menu-item">
                            <a href="#tabs-attachments">Attachments</a>
                        </li>
                        <li class="menu-item">
                            <a href="#tabs-senders">Senders</a>
                        </li>
                        <li class="menu-item">
                            <a href="#tabs-misc">Miscellaneous</a>
                        </li>
                    </ul>

                    <div class="tabs-pane active-pane" id="tabs-spaces">
                        <div style="margin: 10px 0 0 0;">
                            <h3>Spaces</h3>
                            <p>
                                Confluence stores pages and blog posts in
                                <a href="https://confluence.atlassian.com/doc/spaces-139459.html" class="external-link" rel="nofollow">spaces</a>.
                                All spaces are identified by their <a href="https://confluence.atlassian.com/doc/space-keys-829076188.html" class="external-link" rel="nofollow">space key</a>.
                                By default all posts land in the default space (configured above). The default space works like the INBOX of your mail box.
                                You can create custom rules, to move and copy messages to other spaces. Rules are evaluated from top to bottom.<br>
                            </p>
                            <noscript>
                                <p>
                                    <strong>To add, delete and rearrange rules activate JavaScript.</strong>
                                </p>
                            </noscript>
                            <fieldset class="group" style="padding: 0">
                                <table id="spaceRules" class="aui">
                                    <thead>
                                        <tr>
                                            <th width="16%">&nbsp;</th>
                                            <th width="54%" colspan="3">Condition<sup><a href="#capturing-condition">1</a></sup></th>
                                            <th width="10%">Action</th>
                                            <th width="20%">Space<sup><a href="#capturing-groups">2</a></sup></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        #foreach($rule in $mailConfiguration.spaceRules)
                                        <tr>
                                            <td>
                                                <button title="remove" style="float:left" class="aui-button aui-button-subtle spaceRules.delete" type="button">
                                                    <span class="aui-icon aui-icon-small aui-iconfont-delete"></span>
                                                </button>
                                                <button title="move up" style="float:left" class="aui-button aui-button-subtle spaceRules.moveUp" type="button">
                                                    <span class="aui-icon aui-icon-small aui-iconfont-arrows-up"></span>
                                                </button>
                                                <button title="move down" style="float:left" class="aui-button aui-button-subtle spaceRules.moveDown" type="button">
                                                    <span class="aui-icon aui-icon-small aui-iconfont-arrows-down"></span>
                                                </button>
                                            </td>
                                            <td width="18%"><select class="spaceRules.field" name="spaceRuleFields">
                                                <option #if ($rule.field == "from")    selected="selected" #end value="from">From</option>
                                                <option #if ($rule.field == "to")      selected="selected" #end value="to">TO</option>
                                                <option #if ($rule.field == "cc")      selected="selected" #end value="cc">CC</option>
                                                <option #if ($rule.field == "subject") selected="selected" #end value="subject">Subject</option>
                                                <option #if ($rule.field == "to/cc")   selected="selected" #end value="to/cc">TO or CC</option>
                                            </select></td>
                                            <td width="18%"><select class="spaceRules.operator" name="spaceRuleOperators">
                                                <option #if ($rule.operator == "is")       selected="selected" #end value="is">is equal to</option>
                                                <option #if ($rule.operator == "contains") selected="selected" #end value="contains">contains</option>
                                                <option #if ($rule.operator == "start")    selected="selected" #end value="start">starts with</option>
                                                <option #if ($rule.operator == "end")      selected="selected" #end value="end">ends with</option>
                                                <option #if ($rule.operator == "regexp")   selected="selected" #end value="regexp">matches regexp</option>
                                            </select></td>
                                            <td width="18%"><input class="text spaceRules.value" name="spaceRuleValues" value="${rule.value}"></td>
                                            <td><select class="spaceRules.action" name="spaceRuleActions">
                                                <option #if ($rule.action == "move") selected="selected" #end value="move">move to</option>
                                                <option #if ($rule.action == "copy") selected="selected" #end value="copy">copy to</option>
                                            </select></td>
                                            <td><select class="spaceRules.space" name="spaceRuleSpaces" value="${rule.space}">
                                                #if ($rule.operator == "regexp")
                                                <optgroup label="Regexp" class="spaceRules.space.matchgroups">
                                                    <option #if($rule.space == "_group_0") selected="selected" #end value="_group_0">Capturing Group 0</option>
                                                    <option #if($rule.space == "_group_1") selected="selected" #end value="_group_1">Capturing Group 1</option>
                                                </optgroup>
                                                #end
                                                <optgroup label="Spaces">
                                                    #foreach($space in $spaces.entrySet())
                                                        <option
                                                            value="${space.key}"
                                                            #if($space.key == $rule.space)
                                                                selected="selected"
                                                            #end
                                                        >
                                                            ${space.value}
                                                        </option>
                                                    #end
                                                </optgroup>
                                            </select></td>
                                        </tr>
                                        #end
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <button type="button" class="aui-button" id="spaceRules.add">
                                                    <span class="aui-icon aui-icon-small aui-iconfont-add"></span>&nbsp;Add&nbsp;Rule
                                                </button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="description">
                                    <sup id="capturing-condition">1</sup>&nbsp;All comparisions are performed <a  href="https://en.wikipedia.org/wiki/Case_sensitivity">case insensitive</a>, leading and ending whitespace is ignored. From, To, CC refer to email addresses without display names.<br>
                                    <sup id="capturing-groups">2</sup>&nbsp;You can use <a target="_blank" href="https://docs.oracle.com/javase/tutorial/essential/regex/groups.html">capturing groups</a> in regular expressions to extract the space key from a field.
                                </div>
                                #foreach ($error in $fieldErrors.get("mailConfiguration.spaceRules")) <div class="error">$error</div> #end
                            </fieldset>
                        </div>
                    </div>

                    <div class="tabs-pane" id="tabs-format">
                        <div style="margin: 10px 0 0 0;">
                            <h3>Preferred Format</h3>
                            <p>Often E-Mails contain a HTML and a plain text version.</p>
                            <div style="margin: 10px 0 0 0;">
                                <fieldset class="group">
                                    <legend><span>Preferred Format</span></legend>
                                    <div class="radio" style="display: inline-block;">
                                        <input
                                            class="radio"
                                            type="radio"
                                            id="preferred-html"
                                            name="preferred"
                                            value="html"
                                            #if ($preferred == "html") checked="checked" #end
                                        >
                                        <label for="preferred-html">HTML</label>
                                    </div>
                                    &nbsp;
                                    <div class="radio" style="display: inline-block;">
                                        <input
                                            class="radio"
                                            type="radio"
                                            id="preferred-text"
                                            name="preferred"
                                            value="text"
                                            #if ($preferred == "text") checked="checked" #end
                                        />
                                        <label for="preferred-text">Plain&nbsp;Text</label>
                                    </div>
                                    #foreach ($error in $fieldErrors.get("preferred")) <div class="error">$error</div> #end
                                </fieldset>
                            </div>

                            <h3>HTML Macro</h3>
                            <p>
                                Using the HTML macro even complex newsletters are usually displayed flawlessly,
                                but you can't edit the message with the Confluence WYSIWYG-editor.
                                To use this option you need to enable the
                                <a href="https://confluence.atlassian.com/doc/html-macro-38273085.html">HTML macro</a>.
                            </p>
                            <p><strong>
                                <span class="aui-icon aui-icon-small aui-iconfont-error confluence-information-macro-icon"></span>
                                Warning: Activating the HTML macro in Confluence is a security issue
                                if non trusted users have permissions to create pages/blog posts.
                            </strong></p>
                            <div style="margin: 10px 0 0 0;">
                                <fieldset class="group">
                                    <legend><span>Html Macro</span></legend>
                                    <div class="checkbox">
                                        <input
                                            class="checkbox"
                                            type="checkbox"
                                            name="checkboxTracker.htmlmacro"
                                            id="mailConfiguration.htmlmacro"
                                            value="true"
                                            #if ($mailConfiguration.htmlmacro) checked="checked" #end
                                        />
                                        <label for="mailConfiguration.htmlmacro">Wrap mails into HTML macros</label>
                                    </div>
                                </fieldset>
                            </div>


                            <h3>HTML Filters</h3>
                            <p>
                                All HTML contained in mails is filtered, to remove dangerous or broken code, before getting posted in confluence.
                                The filter uses a whitelist approach, you can fine control what is allowed in mails using the checkboxes below.
                            </p>
                            <div style="margin: 10px 0 0 0;">
                                <fieldset class="group">
                                    <legend><span>Blocks</span></legend>
                                    <div class="checkbox">
                                        <input
                                            class="checkbox"
                                            type="checkbox"
                                            name="checkboxTracker.htmlFilterBlocks"
                                            id="mailConfiguration.htmlFilterBlocks"
                                            value="true"
                                            #if (${mailConfiguration.htmlFilterBlocks}) checked="checked" #end
                                        />
                                        <label for="mailConfiguration.htmlFilterBlocks">
                                           Allow common block elements including &lt;p&gt;, &lt;h1&gt;, etc.
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset class="group">
                                    <legend><span>Formatting</span></legend>
                                    <div class="checkbox">
                                        <input
                                            class="checkbox"
                                            type="checkbox"
                                            name="checkboxTracker.htmlFilterFormatting"
                                            id="mailConfiguration.htmlFilterFormatting"
                                            value="true"
                                            #if (${mailConfiguration.htmlFilterFormatting}) checked="checked" #end
                                        />
                                        <label for="mailConfiguration.htmlFilterFormatting">
                                            Allow common formatting elements including &lt;b&gt;, &lt;i&gt;, etc.
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset class="group">
                                    <legend><span>Images</span></legend>
                                    <div class="checkbox">
                                        <input
                                            class="checkbox"
                                            type="checkbox"
                                            name="checkboxTracker.htmlFilterImages"
                                            id="mailConfiguration.htmlFilterImages"
                                            value="true"
                                            #if (${mailConfiguration.htmlFilterImages}) checked="checked" #end
                                        />
                                        <label for="mailConfiguration.htmlFilterImages">
                                            Allow &lt;img&gt; elements from HTTP, HTTPS, and relative sources
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset class="group">
                                    <legend><span>Links</span></legend>
                                    <div class="checkbox">
                                        <input
                                            class="checkbox"
                                            type="checkbox"
                                            name="checkboxTracker.htmlFilterLinks"
                                            id="mailConfiguration.htmlFilterLinks"
                                            value="true"
                                            #if (${mailConfiguration.htmlFilterLinks}) checked="checked" #end
                                        />
                                        <label for="mailConfiguration.htmlFilterLinks">
                                            Allow HTTP, HTTPS, MAILTO, and relative links
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset class="group">
                                    <legend><span>Styles</span></legend>
                                    <div class="checkbox">
                                        <input
                                            class="checkbox"
                                            type="checkbox"
                                            name="checkboxTracker.htmlFilterStyles"
                                            id="mailConfiguration.htmlFilterStyles"
                                            value="true"
                                            #if (${mailConfiguration.htmlFilterStyles}) checked="checked" #end
                                        />
                                        <label for="mailConfiguration.htmlFilterStyles">
                                            Allow certain safe CSS properties in style=&quot;...&quot; attributes
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset class="group">
                                    <legend><span>Tables</span></legend>
                                    <div class="checkbox">
                                        <input
                                            class="checkbox"
                                            type="checkbox"
                                            name="checkboxTracker.htmlFilterTables"
                                            value="true"
                                            #if (${mailConfiguration.htmlFilterTables}) checked="checked" #end
                                        />
                                        <label for="mailConfiguration.htmlFilterTables">
                                            Allow html tables
                                        </label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="tabs-pane" id="tabs-attachments">
                        <div style="margin: 10px 0 0 0;">
                            <h3>Attachments</h3>
                            <div style="margin: 10px 0 0 0;">
                                <fieldset>
                                    <div class="field-group">
                                        <label for="mailConfiguration.maxAllowedAttachmentSize">Max. Size</label>
                                        <input
                                            class="text"
                                            type="number"
                                            id="mailConfiguration.maxAllowedAttachmentSize"
                                            name="mailConfiguration.maxAllowedAttachmentSize"
                                            min="1"
                                            max="2048"
                                            value="${mailConfiguration.maxAllowedAttachmentSize}"
                                        >
                                        <div class="description">
                                            Maximum size of an attachment (in MB).
                                            <br />
                                            Attachments must still be smaller than the general
                                            <a href="https://confluence.atlassian.com/doc/configuring-attachment-size-150040.html">
                                                maximum attachment size
                                            </a>
                                            .
                                        </div>
                                        #foreach ($error in $fieldErrors.get("mailConfiguration.maxAllowedAttachmentSize")) <div class="error">$error</div> #end
                                    </div>
                                </fieldset>
                            </div>

                            <div style="margin: 10px 0 0 0;">
                                <fieldset>
                                    <div class="field-group">
                                        <label for="mailConfiguration.maxAllowedNumberOfAttachments">Max. Number</label>
                                        <input
                                            class="text"
                                            type="number"
                                            id="mailConfiguration.maxAllowedNumberOfAttachments"
                                            name="mailConfiguration.maxAllowedNumberOfAttachments"
                                            value="${mailConfiguration.maxAllowedNumberOfAttachments}"
                                            min="-1"
                                        >
                                        <div class="description">
                                            Maximum number of attachments.<br>
                                            Use -1 for no restriction.
                                        </div>
                                        #foreach ($error in $fieldErrors.get("mailConfiguration.maxAllowedNumberOfAttachments")) <div class="error">$error</div> #end
                                    </div>
                                </fieldset>
                            </div>

                            <h4>File Types</h4>
                            <p>
                                Some attachments in emails may contain malicious code. To prevent malware from being spread through Confluence
                                only relativly safe file types are allowed by default. Windows uses file extensions to categorize files,
                                the web uses <a href="https://www.iana.org/assignments/media-types/media-types.xhtml">mime types</a>.
                                To prevent bypassing of filters it is important that file extensions and mime types are checked and match.
                                You can edit the list of allowed file&nbsp;extensions/mime&nbsp;types to allow additional file types or to enforce more restrictions.
                            </p>

                            <div class="aui-message aui-message-error">
                                <p class="title">Allowing the following file types poses a high security risk:</p>
                                <ul class="alternate">
                                    <li>Executable files like .exe, .bat, .sh, .jar, .js, ...</li>
                                    <li>Documents that can contain macros like .doc, .xls, ppt, ...</li>
                                    <li>Archives, because they can carry dangerous files, like .zip, .tar, .7z, ...</li>
                                </ul>
                            </div>

                            <div style="margin: 10px 0 0 0;">
                                <div class="field-group" style="padding-left: 0;">
                                    <textarea
                                        class="textarea"
                                        name="mailConfiguration.allowedFileTypes"
                                        id="mailConfiguration.allowedFileTypes"
                                        style="max-width: none; min-height: 300px; font-family: monospace;"
                                    >${mailConfiguration.allowedFileTypes}</textarea>
                                    <div class="description">FileExtension MimeType</div>
                                    #foreach ($error in $fieldErrors.get("mailConfiguration.allowedFileTypes")) <div class="error">$error</div> #end
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tabs-pane" id="tabs-misc">
                        <div style="margin: 10px 0 0 0;">
                            <h3>Miscellaneous</h3>
                            <p>
                                The <a href="https://confluence.atlassian.com/doc/gallery-macro-139434.html">gallery macro</a> can
                                be used to display attached images in a gallery. If you enable this option, the macro is added to all posts.
                            </p>
                            <div style="margin: 10px 0 0 0;">
                                <fieldset class="group">
                                    <legend><span>Gallery Macro</span></legend>
                                    <div class="checkbox">
                                        <input
                                            class="checkbox"
                                            type="checkbox"
                                            name="checkboxTracker.gallerymacro"
                                            id="mailConfiguration.gallerymacro"
                                            value="true"
                                            #if ($mailConfiguration.gallerymacro) checked="checked" #end
                                        />
                                        <label for="mailConfiguration.gallerymacro">Add gallery macro to blog posts</label>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="aui-message aui-message-error">
                                <p>
                                    Disabling certificate checks poses a security risk, because the identity of the mail
                                    server is no longer checked. Despite using a secured connection an attacker is able to
                                    read and modify communication by performing a
                                    <a href="https://en.wikipedia.org/wiki/Man-in-the-middle_attack">Man In The Middle Attack</a>.
                                    <strong>An attacker can read you're username, password and messages</strong>.
                                </p>
                            </div>
                            <div style="margin: 10px 0 0 0;">
                                <fieldset class="group">
                                    <legend><span>SSL</span></legend>
                                    <div class="checkbox">
                                        <input
                                            class="checkbox"
                                            type="checkbox"
                                            name="checkboxTracker.checkCertificates"
                                            id="mailConfiguration.checkCertificates"
                                            value="true"
                                            #if ($mailConfiguration.checkCertificates) checked="checked" #end
                                        />
                                        <label for="mailConfiguration.checkCertificates">Verify SSL certificates</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="tabs-pane" id="tabs-senders">
                        <div style="margin-top: 10px;">
                            <h3>Senders</h3>
                            <p>Mail2Blog tries to use the senders mail address to identify a confluence user.
                            To fight spamming you may choose a confluence group to restrict the acceppted senders addresses.</p>
                            <p><strong>
                                <span class="aui-icon aui-icon-small aui-iconfont-error confluence-information-macro-icon"></span>
                                Warning: The sender address can be
                                <a href="https://en.wikipedia.org/wiki/Email_spoofing">easily forged</a>,
                                do not rely on this for security reasons.
                            </strong></p>


                            <div class="field-group">
                                <label for="mailConfiguration.securityGroup">Group</label>
                                <select id="mailConfiguration.securityGroup" name="mailConfiguration.securityGroup">
                                    <option
                                            value=""
                                            #if($mailConfiguration.securityGroup == "")
                                                selected="selected"
                                            #end
                                    >
                                        -- Accept all mail addresses --
                                    </option>
                                    #foreach($group in $groups)
                                        <option
                                            value="${group}"
                                            #if($group == $mailConfiguration.securityGroup)
                                                selected="selected"
                                            #end
                                        >
                                            ${group}
                                        </option>
                                    #end
                                </select>
                                <div class="description">Choose <strong>confluence-users</strong> to allow all registered users</div>
                                #foreach ($error in $fieldErrors.get("mailConfiguration.securityGroup")) <div class="error">$error</div> #end
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 40px;">
                <div class="buttons">
                    <input class="button submit" type="submit" value="Save" id="confirm">
                </div>
            </div>

            #form_xsrfToken()
        </form>

        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html
